products/disability/claim/IdMWebService.wsdl_all_operations.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions  xmlns:wsr="http://www.openuri.org/2002/10/soap/reliability/"
  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:soap12enc="http://www.w3.org/2003/05/soap-encoding"
  xmlns:s="http://www.w3.org/2001/XMLSchema"
  xmlns:tns="http://vaww.oed.oit.va.gov"
  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
  xmlns:conv="http://www.openuri.org/2002/04/wsdl/conversation/"
  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
  targetNamespace="http://vaww.oed.oit.va.gov">
 <types   xmlns="http://schemas.xmlsoap.org/wsdl/"
   xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
   xmlns:wsr="http://www.openuri.org/2002/10/soap/reliability/"
   xmlns:soap12enc="http://www.w3.org/2003/05/soap-encoding"
   xmlns:s="http://www.w3.org/2001/XMLSchema"
   xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
   xmlns:tns="http://vaww.oed.oit.va.gov"
   xmlns:conv="http://www.openuri.org/2002/04/wsdl/conversation/"
   xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
   xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
   xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <xsd:schema    xmlns:stns="http://vaww.oed.oit.va.gov"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    attributeFormDefault="qualified"
    targetNamespace="http://vaww.oed.oit.va.gov"
    elementFormDefault="qualified">
   <xsd:element     nillable="true"
     name="PRPA_IN201301UV02"
     type="xsd:anyType">
   </xsd:element>
   <xsd:element     nillable="true"
     name="PRPA_IN201301UV02Response"
     type="xsd:anyType">
   </xsd:element>
   <xsd:element     nillable="true"
     name="PRPA_IN201302UV02"
     type="xsd:anyType">
   </xsd:element>
   <xsd:element     nillable="true"
     name="PRPA_IN201302UV02Response"
     type="xsd:anyType">
   </xsd:element>
   <xsd:element     nillable="true"
     name="PRPA_IN201304UV02"
     type="xsd:anyType">
   </xsd:element>
   <xsd:element     nillable="true"
     name="PRPA_IN201304UV02Response"
     type="xsd:anyType">
   </xsd:element>
   <xsd:element     nillable="true"
     name="PRPA_IN201305UV02"
     type="xsd:anyType">
   </xsd:element>
   <xsd:element     nillable="true"
     name="PRPA_IN201305UV02Response"
     type="xsd:anyType">
   </xsd:element>
   <xsd:element     nillable="true"
     name="PRPA_IN201309UV02"
     type="xsd:anyType">
   </xsd:element>
   <xsd:element     nillable="true"
     name="PRPA_IN201309UV02Response"
     type="xsd:anyType">
   </xsd:element>
   <xsd:element     nillable="true"
     name="testSOAP"
     type="xsd:anyType">
   </xsd:element>
   <xsd:element     nillable="true"
     name="testSOAPResponse"
     type="xsd:anyType">
   </xsd:element>
  </xsd:schema>
 </types>
 <message   name="testSOAP">
  <part    xmlns:partns="http://vaww.oed.oit.va.gov"
    element="partns:testSOAP"
    name="inboundXML">
  </part>
 </message>
 <message   name="testSOAPResponse">
  <part    xmlns:partns="http://vaww.oed.oit.va.gov"
    element="partns:testSOAPResponse"
    name="returnXML">
  </part>
 </message>
 <message   name="PRPA_IN201309UV02">
  <part    xmlns:partns="http://vaww.oed.oit.va.gov"
    element="partns:PRPA_IN201309UV02"
    name="inboundXML">
  </part>
 </message>
 <message   name="PRPA_IN201309UV02Response">
  <part    xmlns:partns="http://vaww.oed.oit.va.gov"
    element="partns:PRPA_IN201309UV02Response"
    name="returnXML">
  </part>
 </message>
 <message   name="PRPA_IN201305UV02">
  <part    xmlns:partns="http://vaww.oed.oit.va.gov"
    element="partns:PRPA_IN201305UV02"
    name="inboundXML">
  </part>
 </message>
 <message   name="PRPA_IN201305UV02Response">
  <part    xmlns:partns="http://vaww.oed.oit.va.gov"
    element="partns:PRPA_IN201305UV02Response"
    name="returnXML">
  </part>
 </message>
 <message   name="PRPA_IN201301UV02">
  <part    xmlns:partns="http://vaww.oed.oit.va.gov"
    element="partns:PRPA_IN201301UV02"
    name="inboundXML">
  </part>
 </message>
 <message   name="PRPA_IN201301UV02Response">
  <part    xmlns:partns="http://vaww.oed.oit.va.gov"
    element="partns:PRPA_IN201301UV02Response"
    name="returnXML">
  </part>
 </message>
 <message   name="PRPA_IN201302UV02">
  <part    xmlns:partns="http://vaww.oed.oit.va.gov"
    element="partns:PRPA_IN201302UV02"
    name="inboundXML">
  </part>
 </message>
 <message   name="PRPA_IN201302UV02Response">
  <part    xmlns:partns="http://vaww.oed.oit.va.gov"
    element="partns:PRPA_IN201302UV02Response"
    name="returnXML">
  </part>
 </message>
 <message   name="PRPA_IN201304UV02">
  <part    xmlns:partns="http://vaww.oed.oit.va.gov"
    element="partns:PRPA_IN201304UV02"
    name="inboundXML">
  </part>
 </message>
 <message   name="PRPA_IN201304UV02Response">
  <part    xmlns:partns="http://vaww.oed.oit.va.gov"
    element="partns:PRPA_IN201304UV02Response"
    name="returnXML">
  </part>
 </message>
 <portType   name="VAIdMPort">
  <operation    name="testSOAP">
   <input     message="tns:testSOAP">
   </input>
   <output     message="tns:testSOAPResponse">
   </output>
  </operation>
  <operation    name="PRPA_IN201309UV02">
   <input     message="tns:PRPA_IN201309UV02">
   </input>
   <output     message="tns:PRPA_IN201309UV02Response">
   </output>
  </operation>
  <operation    name="PRPA_IN201305UV02">
   <input     message="tns:PRPA_IN201305UV02">
   </input>
   <output     message="tns:PRPA_IN201305UV02Response">
   </output>
  </operation>
  <operation    name="PRPA_IN201301UV02">
   <input     message="tns:PRPA_IN201301UV02">
   </input>
   <output     message="tns:PRPA_IN201301UV02Response">
   </output>
  </operation>
  <operation    name="PRPA_IN201302UV02">
   <input     message="tns:PRPA_IN201302UV02">
   </input>
   <output     message="tns:PRPA_IN201302UV02Response">
   </output>
  </operation>
  <operation    name="PRPA_IN201304UV02">
   <input     message="tns:PRPA_IN201304UV02">
   </input>
   <output     message="tns:PRPA_IN201304UV02Response">
   </output>
  </operation>
 </portType>
 <binding   name="VAIdMPort"
   type="tns:VAIdMPort">
   <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
  <operation    name="testSOAP">
    <soap:operation style="document" soapAction="" />
   <input>
     <soap:body use="literal" />
   </input>
   <output>
     <soap:body use="literal" />
   </output>
  </operation>
  <operation    name="PRPA_IN201309UV02">
    <soap:operation style="document" soapAction="" />
   <input>
     <soap:body use="literal" />
   </input>
   <output>
     <soap:body use="literal" />
   </output>
  </operation>
  <operation    name="PRPA_IN201305UV02">
    <soap:operation style="document" soapAction="" />
   <input>
     <soap:body use="literal" />
   </input>
   <output>
     <soap:body use="literal" />
   </output>
  </operation>
  <operation    name="PRPA_IN201301UV02">
    <soap:operation style="document" soapAction="" />
   <input>
     <soap:body use="literal" />
   </input>
   <output>
     <soap:body use="literal" />
   </output>
  </operation>
  <operation    name="PRPA_IN201302UV02">
    <soap:operation style="document" soapAction="" />
   <input>
     <soap:body use="literal" />
   </input>
   <output>
     <soap:body use="literal" />
   </output>
  </operation>
  <operation    name="PRPA_IN201304UV02">
    <soap:operation style="document" soapAction="" />
   <input>
     <soap:body use="literal" />
   </input>
   <output>
     <soap:body use="literal" />
   </output>
  </operation>
 </binding>
 <service   name="VAIdM">
  <port    name="VAIdMPort"
    binding="tns:VAIdMPort">
    <soap:address location="http://ps-dev.commserv.healthevet.va.gov:8110/psim_webservice/IdMWebService" />
  </port>
 </service>
</definitions>