products/disability/declare-dependent/discovery/csra-documentation/awardwebservice.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.3-07/10/2008 08:41 PM(bt). --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.3-07/10/2008 08:41 PM(bt). -->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://award.services.vetsnet.vba.va.gov/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/"
             targetNamespace="http://award.services.vetsnet.vba.va.gov/" name="AwardWebService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://award.services.vetsnet.vba.va.gov/" schemaLocation="AwardWebService.xsd"/>
        </xsd:schema>
    </types>
    <message name="findVeteranAwardCmpsitBySSN">
        <part name="parameters" element="tns:findVeteranAwardCmpsitBySSN"/>
    </message>
    <message name="findVeteranAwardCmpsitBySSNResponse">
        <part name="parameters" element="tns:findVeteranAwardCmpsitBySSNResponse"/>
    </message>
    <message name="findVeteranAwardCmpsitByFileNumber">
        <part name="parameters" element="tns:findVeteranAwardCmpsitByFileNumber"/>
    </message>
    <message name="findVeteranAwardCmpsitByFileNumberResponse">
        <part name="parameters" element="tns:findVeteranAwardCmpsitByFileNumberResponse"/>
    </message>
    <message name="findVeteranAwardCmpsitByPtcpntId">
        <part name="parameters" element="tns:findVeteranAwardCmpsitByPtcpntId"/>
    </message>
    <message name="findVeteranAwardCmpsitByPtcpntIdResponse">
        <part name="parameters" element="tns:findVeteranAwardCmpsitByPtcpntIdResponse"/>
    </message>
    <message name="findStationOfJurisdiction">
        <part name="parameters" element="tns:findStationOfJurisdiction"/>
    </message>
    <message name="findStationOfJurisdictionResponse">
        <part name="parameters" element="tns:findStationOfJurisdictionResponse"/>
    </message>
    <message name="MessageFaultException">
        <part name="fault" element="tns:MessageFaultException"/>
    </message>
    <portType name="AwardWebService">
        <operation name="findVeteranAwardCmpsitBySSN">
            <input message="tns:findVeteranAwardCmpsitBySSN"/>
            <output message="tns:findVeteranAwardCmpsitBySSNResponse"/>
        </operation>
        <operation name="findVeteranAwardCmpsitByFileNumber">
            <input message="tns:findVeteranAwardCmpsitByFileNumber"/>
            <output message="tns:findVeteranAwardCmpsitByFileNumberResponse"/>
        </operation>
        <operation name="findVeteranAwardCmpsitByPtcpntId">
            <input message="tns:findVeteranAwardCmpsitByPtcpntId"/>
            <output message="tns:findVeteranAwardCmpsitByPtcpntIdResponse"/>
        </operation>
        <operation name="findStationOfJurisdiction">
            <input message="tns:findStationOfJurisdiction"/>
            <output message="tns:findStationOfJurisdictionResponse"/>
            <fault message="tns:MessageFaultException" name="MessageFaultException"/>
        </operation>
    </portType>
    <binding name="AwardWebServicePortBinding" type="tns:AwardWebService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="findVeteranAwardCmpsitBySSN">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="findVeteranAwardCmpsitByFileNumber">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="findVeteranAwardCmpsitByPtcpntId">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="findStationOfJurisdiction">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="MessageFaultException">
                <soap:fault name="MessageFaultException" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="AwardWebService">
        <port name="AwardWebServicePort" binding="tns:AwardWebServicePortBinding">
            <soap:address location="http://vbaauswebdev1.vba.va.gov:80/AwardWebServiceBean/AwardWebService"/>
        </port>
    </service>
</definitions>