products/disability/declare-dependent/discovery/csra-documentation/benefitclaimservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. -->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.share.benefits.vba.va.gov/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.share.benefits.vba.va.gov/" name="BenefitClaimWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://services.share.benefits.vba.va.gov/" schemaLocation="http://linktestbepbenefits.vba.va.gov:80/BenefitClaimServiceBean/BenefitClaimWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="updateCh33DdEft">
<part name="parameters" element="tns:updateCh33DdEft"/>
</message>
<message name="updateCh33DdEftResponse">
<part name="parameters" element="tns:updateCh33DdEftResponse"/>
</message>
<message name="ShareException">
<part name="fault" element="tns:ShareException"/>
</message>
<message name="insertBenefitClaim">
<part name="parameters" element="tns:insertBenefitClaim"/>
</message>
<message name="insertBenefitClaimResponse">
<part name="parameters" element="tns:insertBenefitClaimResponse"/>
</message>
<message name="updateFirstNoticeOfDeath">
<part name="parameters" element="tns:updateFirstNoticeOfDeath"/>
</message>
<message name="updateFirstNoticeOfDeathResponse">
<part name="parameters" element="tns:updateFirstNoticeOfDeathResponse"/>
</message>
<message name="updateBenefitClaim">
<part name="parameters" element="tns:updateBenefitClaim"/>
</message>
<message name="updateBenefitClaimResponse">
<part name="parameters" element="tns:updateBenefitClaimResponse"/>
</message>
<message name="clearBenefitClaim">
<part name="parameters" element="tns:clearBenefitClaim"/>
</message>
<message name="clearBenefitClaimResponse">
<part name="parameters" element="tns:clearBenefitClaimResponse"/>
</message>
<message name="cancelBenefitClaim">
<part name="parameters" element="tns:cancelBenefitClaim"/>
</message>
<message name="cancelBenefitClaimResponse">
<part name="parameters" element="tns:cancelBenefitClaimResponse"/>
</message>
<message name="updateBenefitClaimAddress">
<part name="parameters" element="tns:updateBenefitClaimAddress"/>
</message>
<message name="updateBenefitClaimAddressResponse">
<part name="parameters" element="tns:updateBenefitClaimAddressResponse"/>
</message>
<message name="updateBenefitClaimDependents">
<part name="parameters" element="tns:updateBenefitClaimDependents"/>
</message>
<message name="updateBenefitClaimDependentsResponse">
<part name="parameters" element="tns:updateBenefitClaimDependentsResponse"/>
</message>
<message name="findBenefitClaim">
<part name="parameters" element="tns:findBenefitClaim"/>
</message>
<message name="findBenefitClaimResponse">
<part name="parameters" element="tns:findBenefitClaimResponse"/>
</message>
<message name="findBenefitClaimDetail">
<part name="parameters" element="tns:findBenefitClaimDetail"/>
</message>
<message name="findBenefitClaimDetailResponse">
<part name="parameters" element="tns:findBenefitClaimDetailResponse"/>
</message>
<message name="findPresidentialMemorialCertificate">
<part name="parameters" element="tns:findPresidentialMemorialCertificate"/>
</message>
<message name="findPresidentialMemorialCertificateResponse">
<part name="parameters" element="tns:findPresidentialMemorialCertificateResponse"/>
</message>
<message name="insertPresidentialMemorialCertificate">
<part name="parameters" element="tns:insertPresidentialMemorialCertificate"/>
</message>
<message name="insertPresidentialMemorialCertificateResponse">
<part name="parameters" element="tns:insertPresidentialMemorialCertificateResponse"/>
</message>
<message name="findCh33DdEft">
<part name="parameters" element="tns:findCh33DdEft"/>
</message>
<message name="findCh33DdEftResponse">
<part name="parameters" element="tns:findCh33DdEftResponse"/>
</message>
<portType name="BenefitClaimService">
<operation name="updateCh33DdEft">
<input message="tns:updateCh33DdEft"/>
<output message="tns:updateCh33DdEftResponse"/>
<fault message="tns:ShareException" name="ShareException"/>
</operation>
<operation name="insertBenefitClaim">
<input message="tns:insertBenefitClaim"/>
<output message="tns:insertBenefitClaimResponse"/>
<fault message="tns:ShareException" name="ShareException"/>
</operation>
<operation name="updateFirstNoticeOfDeath">
<input message="tns:updateFirstNoticeOfDeath"/>
<output message="tns:updateFirstNoticeOfDeathResponse"/>
<fault message="tns:ShareException" name="ShareException"/>
</operation>
<operation name="updateBenefitClaim">
<input message="tns:updateBenefitClaim"/>
<output message="tns:updateBenefitClaimResponse"/>
<fault message="tns:ShareException" name="ShareException"/>
</operation>
<operation name="clearBenefitClaim">
<input message="tns:clearBenefitClaim"/>
<output message="tns:clearBenefitClaimResponse"/>
<fault message="tns:ShareException" name="ShareException"/>
</operation>
<operation name="cancelBenefitClaim">
<input message="tns:cancelBenefitClaim"/>
<output message="tns:cancelBenefitClaimResponse"/>
<fault message="tns:ShareException" name="ShareException"/>
</operation>
<operation name="updateBenefitClaimAddress">
<input message="tns:updateBenefitClaimAddress"/>
<output message="tns:updateBenefitClaimAddressResponse"/>
<fault message="tns:ShareException" name="ShareException"/>
</operation>
<operation name="updateBenefitClaimDependents">
<input message="tns:updateBenefitClaimDependents"/>
<output message="tns:updateBenefitClaimDependentsResponse"/>
<fault message="tns:ShareException" name="ShareException"/>
</operation>
<operation name="findBenefitClaim">
<input message="tns:findBenefitClaim"/>
<output message="tns:findBenefitClaimResponse"/>
<fault message="tns:ShareException" name="ShareException"/>
</operation>
<operation name="findBenefitClaimDetail">
<input message="tns:findBenefitClaimDetail"/>
<output message="tns:findBenefitClaimDetailResponse"/>
<fault message="tns:ShareException" name="ShareException"/>
</operation>
<operation name="findPresidentialMemorialCertificate">
<input message="tns:findPresidentialMemorialCertificate"/>
<output message="tns:findPresidentialMemorialCertificateResponse"/>
<fault message="tns:ShareException" name="ShareException"/>
</operation>
<operation name="insertPresidentialMemorialCertificate">
<input message="tns:insertPresidentialMemorialCertificate"/>
<output message="tns:insertPresidentialMemorialCertificateResponse"/>
<fault message="tns:ShareException" name="ShareException"/>
</operation>
<operation name="findCh33DdEft">
<input message="tns:findCh33DdEft"/>
<output message="tns:findCh33DdEftResponse"/>
<fault message="tns:ShareException" name="ShareException"/>
</operation>
</portType>
<binding name="BenefitClaimWebServicePortBinding" type="tns:BenefitClaimService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="updateCh33DdEft">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ShareException">
<soap:fault name="ShareException" use="literal"/>
</fault>
</operation>
<operation name="insertBenefitClaim">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ShareException">
<soap:fault name="ShareException" use="literal"/>
</fault>
</operation>
<operation name="updateFirstNoticeOfDeath">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ShareException">
<soap:fault name="ShareException" use="literal"/>
</fault>
</operation>
<operation name="updateBenefitClaim">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ShareException">
<soap:fault name="ShareException" use="literal"/>
</fault>
</operation>
<operation name="clearBenefitClaim">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ShareException">
<soap:fault name="ShareException" use="literal"/>
</fault>
</operation>
<operation name="cancelBenefitClaim">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ShareException">
<soap:fault name="ShareException" use="literal"/>
</fault>
</operation>
<operation name="updateBenefitClaimAddress">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ShareException">
<soap:fault name="ShareException" use="literal"/>
</fault>
</operation>
<operation name="updateBenefitClaimDependents">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ShareException">
<soap:fault name="ShareException" use="literal"/>
</fault>
</operation>
<operation name="findBenefitClaim">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ShareException">
<soap:fault name="ShareException" use="literal"/>
</fault>
</operation>
<operation name="findBenefitClaimDetail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ShareException">
<soap:fault name="ShareException" use="literal"/>
</fault>
</operation>
<operation name="findPresidentialMemorialCertificate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ShareException">
<soap:fault name="ShareException" use="literal"/>
</fault>
</operation>
<operation name="insertPresidentialMemorialCertificate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ShareException">
<soap:fault name="ShareException" use="literal"/>
</fault>
</operation>
<operation name="findCh33DdEft">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ShareException">
<soap:fault name="ShareException" use="literal"/>
</fault>
</operation>
</binding>
<service name="BenefitClaimWebService">
<port name="BenefitClaimWebServicePort" binding="tns:BenefitClaimWebServicePortBinding">
<soap:address location="http://linktestbepbenefits.vba.va.gov:80/BenefitClaimServiceBean/BenefitClaimWebService"/>
</port>
</service>
</definitions>