products/disability/declare-dependent/discovery/csra-documentation/sharestandarddatawebservice.wsdl


<!--
 Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.3-07/10/2008 08:41 PM(bt). 
-->
<!--
 Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.3-07/10/2008 08:41 PM(bt). 
-->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.share.benefits.vba.va.gov/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.share.benefits.vba.va.gov/" name="ShareStandardDataWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://services.share.benefits.vba.va.gov/" schemaLocation="ShareStandardDataWebService.xsd"/>
</xsd:schema>
</types>
<message name="findProgramTypes">
<part name="parameters" element="tns:findProgramTypes"/>
</message>
<message name="findProgramTypesResponse">
<part name="parameters" element="tns:findProgramTypesResponse"/>
</message>
<message name="ShareException">
<part name="fault" element="tns:ShareException"/>
</message>
<message name="findMilitaryPostOfficeTypes">
<part name="parameters" element="tns:findMilitaryPostOfficeTypes"/>
</message>
<message name="findMilitaryPostOfficeTypesResponse">
<part name="parameters" element="tns:findMilitaryPostOfficeTypesResponse"/>
</message>
<message name="findMilitaryPostalTypes">
<part name="parameters" element="tns:findMilitaryPostalTypes"/>
</message>
<message name="findMilitaryPostalTypesResponse">
<part name="parameters" element="tns:findMilitaryPostalTypesResponse"/>
</message>
<message name="findRegionalOffices">
<part name="parameters" element="tns:findRegionalOffices"/>
</message>
<message name="findRegionalOfficesResponse">
<part name="parameters" element="tns:findRegionalOfficesResponse"/>
</message>
<message name="findAllStations">
<part name="parameters" element="tns:findAllStations"/>
</message>
<message name="findAllStationsResponse">
<part name="parameters" element="tns:findAllStationsResponse"/>
</message>
<message name="findStations">
<part name="parameters" element="tns:findStations"/>
</message>
<message name="findStationsResponse">
<part name="parameters" element="tns:findStationsResponse"/>
</message>
<message name="findStates">
<part name="parameters" element="tns:findStates"/>
</message>
<message name="findStatesResponse">
<part name="parameters" element="tns:findStatesResponse"/>
</message>
<message name="findCountries">
<part name="parameters" element="tns:findCountries"/>
</message>
<message name="findCountriesResponse">
<part name="parameters" element="tns:findCountriesResponse"/>
</message>
<message name="findPayeeCodes">
<part name="parameters" element="tns:findPayeeCodes"/>
</message>
<message name="findPayeeCodesResponse">
<part name="parameters" element="tns:findPayeeCodesResponse"/>
</message>
<message name="findEpcs">
<part name="parameters" element="tns:findEpcs"/>
</message>
<message name="findEpcsResponse">
<part name="parameters" element="tns:findEpcsResponse"/>
</message>
<message name="findSsnVerificationTypes">
<part name="parameters" element="tns:findSsnVerificationTypes"/>
</message>
<message name="findSsnVerificationTypesResponse">
<part name="parameters" element="tns:findSsnVerificationTypesResponse"/>
</message>
<message name="findCauseOfDeathTypes">
<part name="parameters" element="tns:findCauseOfDeathTypes"/>
</message>
<message name="findCauseOfDeathTypesResponse">
<part name="parameters" element="tns:findCauseOfDeathTypesResponse"/>
</message>
<message name="findIntakeSites">
<part name="parameters" element="tns:findIntakeSites"/>
</message>
<message name="findIntakeSitesResponse">
<part name="parameters" element="tns:findIntakeSitesResponse"/>
</message>
<message name="findDiagnosticCodes">
<part name="parameters" element="tns:findDiagnosticCodes"/>
</message>
<message name="findDiagnosticCodesResponse">
<part name="parameters" element="tns:findDiagnosticCodesResponse"/>
</message>
<message name="findPcanReasonCodes">
<part name="parameters" element="tns:findPcanReasonCodes"/>
</message>
<message name="findPcanReasonCodesResponse">
<part name="parameters" element="tns:findPcanReasonCodesResponse"/>
</message>
<message name="findPclrReasonCodes">
<part name="parameters" element="tns:findPclrReasonCodes"/>
</message>
<message name="findPclrReasonCodesResponse">
<part name="parameters" element="tns:findPclrReasonCodesResponse"/>
</message>
<message name="findDiaryReasonCodes">
<part name="parameters" element="tns:findDiaryReasonCodes"/>
</message>
<message name="findDiaryReasonCodesResponse">
<part name="parameters" element="tns:findDiaryReasonCodesResponse"/>
</message>
<message name="findSsaInquiryReasonCodes">
<part name="parameters" element="tns:findSsaInquiryReasonCodes"/>
</message>
<message name="findSsaInquiryReasonCodesResponse">
<part name="parameters" element="tns:findSsaInquiryReasonCodesResponse"/>
</message>
<message name="findStationAddress">
<part name="parameters" element="tns:findStationAddress"/>
</message>
<message name="findStationAddressResponse">
<part name="parameters" element="tns:findStationAddressResponse"/>
</message>
<message name="findFutureReasons">
<part name="parameters" element="tns:findFutureReasons"/>
</message>
<message name="findFutureReasonsResponse">
<part name="parameters" element="tns:findFutureReasonsResponse"/>
</message>
<message name="findSalutations">
<part name="parameters" element="tns:findSalutations"/>
</message>
<message name="findSalutationsResponse">
<part name="parameters" element="tns:findSalutationsResponse"/>
</message>
<message name="findSuffixes">
<part name="parameters" element="tns:findSuffixes"/>
</message>
<message name="findSuffixesResponse">
<part name="parameters" element="tns:findSuffixesResponse"/>
</message>
<message name="findGulfWarRegistryPermits">
<part name="parameters" element="tns:findGulfWarRegistryPermits"/>
</message>
<message name="findGulfWarRegistryPermitsResponse">
<part name="parameters" element="tns:findGulfWarRegistryPermitsResponse"/>
</message>
<message name="findBranchOfServiceTypes">
<part name="parameters" element="tns:findBranchOfServiceTypes"/>
</message>
<message name="findBranchOfServiceTypesResponse">
<part name="parameters" element="tns:findBranchOfServiceTypesResponse"/>
</message>
<message name="findPowerOfAttorneys">
<part name="parameters" element="tns:findPowerOfAttorneys"/>
</message>
<message name="findPowerOfAttorneysResponse">
<part name="parameters" element="tns:findPowerOfAttorneysResponse"/>
</message>
<message name="findCharacterOfServiceTypes">
<part name="parameters" element="tns:findCharacterOfServiceTypes"/>
</message>
<message name="findCharacterOfServiceTypesResponse">
<part name="parameters" element="tns:findCharacterOfServiceTypesResponse"/>
</message>
<message name="findSeparationReasonCodes">
<part name="parameters" element="tns:findSeparationReasonCodes"/>
</message>
<message name="findSeparationReasonCodesResponse">
<part name="parameters" element="tns:findSeparationReasonCodesResponse"/>
</message>
<message name="findPayGrades">
<part name="parameters" element="tns:findPayGrades"/>
</message>
<message name="findPayGradesResponse">
<part name="parameters" element="tns:findPayGradesResponse"/>
</message>
<message name="findGender">
<part name="parameters" element="tns:findGender"/>
</message>
<message name="findGenderResponse">
<part name="parameters" element="tns:findGenderResponse"/>
</message>
<message name="findInsurancePrefixs">
<part name="parameters" element="tns:findInsurancePrefixs"/>
</message>
<message name="findInsurancePrefixsResponse">
<part name="parameters" element="tns:findInsurancePrefixsResponse"/>
</message>
<message name="findInsuranceFolderTypes">
<part name="parameters" element="tns:findInsuranceFolderTypes"/>
</message>
<message name="findInsuranceFolderTypesResponse">
<part name="parameters" element="tns:findInsuranceFolderTypesResponse"/>
</message>
<message name="findInsurancePolicyPrefixs">
<part name="parameters" element="tns:findInsurancePolicyPrefixs"/>
</message>
<message name="findInsurancePolicyPrefixsResponse">
<part name="parameters" element="tns:findInsurancePolicyPrefixsResponse"/>
</message>
<message name="findFolderTypes">
<part name="parameters" element="tns:findFolderTypes"/>
</message>
<message name="findFolderTypesResponse">
<part name="parameters" element="tns:findFolderTypesResponse"/>
</message>
<message name="findNoFolderEstablishedReasons">
<part name="parameters" element="tns:findNoFolderEstablishedReasons"/>
</message>
<message name="findNoFolderEstablishedReasonsResponse">
<part name="parameters" element="tns:findNoFolderEstablishedReasonsResponse"/>
</message>
<message name="findNARAs">
<part name="parameters" element="tns:findNARAs"/>
</message>
<message name="findNARAsResponse">
<part name="parameters" element="tns:findNARAsResponse"/>
</message>
<portType name="ShareStandardDataService">
<operation name="findProgramTypes">
<input message="tns:findProgramTypes"/>
<output message="tns:findProgramTypesResponse"/>
<fault message="tns:ShareException" name="ShareException"/>
</operation>
<operation name="findMilitaryPostOfficeTypes">
<input message="tns:findMilitaryPostOfficeTypes"/>
<output message="tns:findMilitaryPostOfficeTypesResponse"/>
<fault message="tns:ShareException" name="ShareException"/>
</operation>
<operation name="findMilitaryPostalTypes">
<input message="tns:findMilitaryPostalTypes"/>
<output message="tns:findMilitaryPostalTypesResponse"/>
<fault message="tns:ShareException" name="ShareException"/>
</operation>
<operation name="findRegionalOffices">
<input message="tns:findRegionalOffices"/>
<output message="tns:findRegionalOfficesResponse"/>
<fault message="tns:ShareException" name="ShareException"/>
</operation>
<operation name="findAllStations">
<input message="tns:findAllStations"/>
<output message="tns:findAllStationsResponse"/>
<fault message="tns:ShareException" name="ShareException"/>
</operation>
<operation name="findStations">
<input message="tns:findStations"/>
<output message="tns:findStationsResponse"/>
<fault message="tns:ShareException" name="ShareException"/>
</operation>
<operation name="findStates">
<input message="tns:findStates"/>
<output message="tns:findStatesResponse"/>
<fault message="tns:ShareException" name="ShareException"/>
</operation>
<operation name="findCountries">
<input message="tns:findCountries"/>
<output message="tns:findCountriesResponse"/>
<fault message="tns:ShareException" name="ShareException"/>
</operation>
<operation name="findPayeeCodes">
<input message="tns:findPayeeCodes"/>
<output message="tns:findPayeeCodesResponse"/>
<fault message="tns:ShareException" name="ShareException"/>
</operation>
<operation name="findEpcs">
<input message="tns:findEpcs"/>
<output message="tns:findEpcsResponse"/>
<fault message="tns:ShareException" name="ShareException"/>
</operation>
<operation name="findSsnVerificationTypes">
<input message="tns:findSsnVerificationTypes"/>
<output message="tns:findSsnVerificationTypesResponse"/>
<fault message="tns:ShareException" name="ShareException"/>
</operation>
<operation name="findCauseOfDeathTypes">
<input message="tns:findCauseOfDeathTypes"/>
<output message="tns:findCauseOfDeathTypesResponse"/>
<fault message="tns:ShareException" name="ShareException"/>
</operation>
<operation name="findIntakeSites">
<input message="tns:findIntakeSites"/>
<output message="tns:findIntakeSitesResponse"/>
<fault message="tns:ShareException" name="ShareException"/>
</operation>
<operation name="findDiagnosticCodes">
<input message="tns:findDiagnosticCodes"/>
<output message="tns:findDiagnosticCodesResponse"/>
<fault message="tns:ShareException" name="ShareException"/>
</operation>
<operation name="findPcanReasonCodes">
<input message="tns:findPcanReasonCodes"/>
<output message="tns:findPcanReasonCodesResponse"/>
<fault message="tns:ShareException" name="ShareException"/>
</operation>
<operation name="findPclrReasonCodes">
<input message="tns:findPclrReasonCodes"/>
<output message="tns:findPclrReasonCodesResponse"/>
<fault message="tns:ShareException" name="ShareException"/>
</operation>
<operation name="findDiaryReasonCodes">
<input message="tns:findDiaryReasonCodes"/>
<output message="tns:findDiaryReasonCodesResponse"/>
<fault message="tns:ShareException" name="ShareException"/>
</operation>
<operation name="findSsaInquiryReasonCodes">
<input message="tns:findSsaInquiryReasonCodes"/>
<output message="tns:findSsaInquiryReasonCodesResponse"/>
<fault message="tns:ShareException" name="ShareException"/>
</operation>
<operation name="findStationAddress">
<input message="tns:findStationAddress"/>
<output message="tns:findStationAddressResponse"/>
<fault message="tns:ShareException" name="ShareException"/>
</operation>
<operation name="findFutureReasons">
<input message="tns:findFutureReasons"/>
<output message="tns:findFutureReasonsResponse"/>
<fault message="tns:ShareException" name="ShareException"/>
</operation>
<operation name="findSalutations">
<input message="tns:findSalutations"/>
<output message="tns:findSalutationsResponse"/>
<fault message="tns:ShareException" name="ShareException"/>
</operation>
<operation name="findSuffixes">
<input message="tns:findSuffixes"/>
<output message="tns:findSuffixesResponse"/>
<fault message="tns:ShareException" name="ShareException"/>
</operation>
<operation name="findGulfWarRegistryPermits">
<input message="tns:findGulfWarRegistryPermits"/>
<output message="tns:findGulfWarRegistryPermitsResponse"/>
<fault message="tns:ShareException" name="ShareException"/>
</operation>
<operation name="findBranchOfServiceTypes">
<input message="tns:findBranchOfServiceTypes"/>
<output message="tns:findBranchOfServiceTypesResponse"/>
<fault message="tns:ShareException" name="ShareException"/>
</operation>
<operation name="findPowerOfAttorneys">
<input message="tns:findPowerOfAttorneys"/>
<output message="tns:findPowerOfAttorneysResponse"/>
<fault message="tns:ShareException" name="ShareException"/>
</operation>
<operation name="findCharacterOfServiceTypes">
<input message="tns:findCharacterOfServiceTypes"/>
<output message="tns:findCharacterOfServiceTypesResponse"/>
<fault message="tns:ShareException" name="ShareException"/>
</operation>
<operation name="findSeparationReasonCodes">
<input message="tns:findSeparationReasonCodes"/>
<output message="tns:findSeparationReasonCodesResponse"/>
<fault message="tns:ShareException" name="ShareException"/>
</operation>
<operation name="findPayGrades">
<input message="tns:findPayGrades"/>
<output message="tns:findPayGradesResponse"/>
<fault message="tns:ShareException" name="ShareException"/>
</operation>
<operation name="findGender">
<input message="tns:findGender"/>
<output message="tns:findGenderResponse"/>
<fault message="tns:ShareException" name="ShareException"/>
</operation>
<operation name="findInsurancePrefixs">
<input message="tns:findInsurancePrefixs"/>
<output message="tns:findInsurancePrefixsResponse"/>
<fault message="tns:ShareException" name="ShareException"/>
</operation>
<operation name="findInsuranceFolderTypes">
<input message="tns:findInsuranceFolderTypes"/>
<output message="tns:findInsuranceFolderTypesResponse"/>
<fault message="tns:ShareException" name="ShareException"/>
</operation>
<operation name="findInsurancePolicyPrefixs">
<input message="tns:findInsurancePolicyPrefixs"/>
<output message="tns:findInsurancePolicyPrefixsResponse"/>
<fault message="tns:ShareException" name="ShareException"/>
</operation>
<operation name="findFolderTypes">
<input message="tns:findFolderTypes"/>
<output message="tns:findFolderTypesResponse"/>
<fault message="tns:ShareException" name="ShareException"/>
</operation>
<operation name="findNoFolderEstablishedReasons">
<input message="tns:findNoFolderEstablishedReasons"/>
<output message="tns:findNoFolderEstablishedReasonsResponse"/>
<fault message="tns:ShareException" name="ShareException"/>
</operation>
<operation name="findNARAs">
<input message="tns:findNARAs"/>
<output message="tns:findNARAsResponse"/>
<fault message="tns:ShareException" name="ShareException"/>
</operation>
</portType>
<binding name="ShareStandardDataWebServicePortBinding" type="tns:ShareStandardDataService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findProgramTypes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ShareException">
<soap:fault name="ShareException" use="literal"/>
</fault>
</operation>
<operation name="findMilitaryPostOfficeTypes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ShareException">
<soap:fault name="ShareException" use="literal"/>
</fault>
</operation>
<operation name="findMilitaryPostalTypes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ShareException">
<soap:fault name="ShareException" use="literal"/>
</fault>
</operation>
<operation name="findRegionalOffices">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ShareException">
<soap:fault name="ShareException" use="literal"/>
</fault>
</operation>
<operation name="findAllStations">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ShareException">
<soap:fault name="ShareException" use="literal"/>
</fault>
</operation>
<operation name="findStations">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ShareException">
<soap:fault name="ShareException" use="literal"/>
</fault>
</operation>
<operation name="findStates">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ShareException">
<soap:fault name="ShareException" use="literal"/>
</fault>
</operation>
<operation name="findCountries">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ShareException">
<soap:fault name="ShareException" use="literal"/>
</fault>
</operation>
<operation name="findPayeeCodes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ShareException">
<soap:fault name="ShareException" use="literal"/>
</fault>
</operation>
<operation name="findEpcs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ShareException">
<soap:fault name="ShareException" use="literal"/>
</fault>
</operation>
<operation name="findSsnVerificationTypes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ShareException">
<soap:fault name="ShareException" use="literal"/>
</fault>
</operation>
<operation name="findCauseOfDeathTypes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ShareException">
<soap:fault name="ShareException" use="literal"/>
</fault>
</operation>
<operation name="findIntakeSites">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ShareException">
<soap:fault name="ShareException" use="literal"/>
</fault>
</operation>
<operation name="findDiagnosticCodes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ShareException">
<soap:fault name="ShareException" use="literal"/>
</fault>
</operation>
<operation name="findPcanReasonCodes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ShareException">
<soap:fault name="ShareException" use="literal"/>
</fault>
</operation>
<operation name="findPclrReasonCodes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ShareException">
<soap:fault name="ShareException" use="literal"/>
</fault>
</operation>
<operation name="findDiaryReasonCodes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ShareException">
<soap:fault name="ShareException" use="literal"/>
</fault>
</operation>
<operation name="findSsaInquiryReasonCodes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ShareException">
<soap:fault name="ShareException" use="literal"/>
</fault>
</operation>
<operation name="findStationAddress">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ShareException">
<soap:fault name="ShareException" use="literal"/>
</fault>
</operation>
<operation name="findFutureReasons">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ShareException">
<soap:fault name="ShareException" use="literal"/>
</fault>
</operation>
<operation name="findSalutations">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ShareException">
<soap:fault name="ShareException" use="literal"/>
</fault>
</operation>
<operation name="findSuffixes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ShareException">
<soap:fault name="ShareException" use="literal"/>
</fault>
</operation>
<operation name="findGulfWarRegistryPermits">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ShareException">
<soap:fault name="ShareException" use="literal"/>
</fault>
</operation>
<operation name="findBranchOfServiceTypes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ShareException">
<soap:fault name="ShareException" use="literal"/>
</fault>
</operation>
<operation name="findPowerOfAttorneys">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ShareException">
<soap:fault name="ShareException" use="literal"/>
</fault>
</operation>
<operation name="findCharacterOfServiceTypes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ShareException">
<soap:fault name="ShareException" use="literal"/>
</fault>
</operation>
<operation name="findSeparationReasonCodes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ShareException">
<soap:fault name="ShareException" use="literal"/>
</fault>
</operation>
<operation name="findPayGrades">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ShareException">
<soap:fault name="ShareException" use="literal"/>
</fault>
</operation>
<operation name="findGender">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ShareException">
<soap:fault name="ShareException" use="literal"/>
</fault>
</operation>
<operation name="findInsurancePrefixs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ShareException">
<soap:fault name="ShareException" use="literal"/>
</fault>
</operation>
<operation name="findInsuranceFolderTypes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ShareException">
<soap:fault name="ShareException" use="literal"/>
</fault>
</operation>
<operation name="findInsurancePolicyPrefixs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ShareException">
<soap:fault name="ShareException" use="literal"/>
</fault>
</operation>
<operation name="findFolderTypes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ShareException">
<soap:fault name="ShareException" use="literal"/>
</fault>
</operation>
<operation name="findNoFolderEstablishedReasons">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ShareException">
<soap:fault name="ShareException" use="literal"/>
</fault>
</operation>
<operation name="findNARAs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ShareException">
<soap:fault name="ShareException" use="literal"/>
</fault>
</operation>
</binding>
<service name="ShareStandardDataWebService">
<port name="ShareStandardDataWebServicePort" binding="tns:ShareStandardDataWebServicePortBinding">
<soap:address location="http://linktestbepbenefits.vba.va.gov:80/ShareStandardDataServiceBean/ShareStandardDataWebService"/>
</port>
</service>
</definitions>