products/disability/declare-dependent/discovery/csra-documentation/vetrecordwebservice.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.share.benefits.vba.va.gov/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.share.benefits.vba.va.gov/" name="VetRecordWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://services.share.benefits.vba.va.gov/" schemaLocation="http://bepwebtest.vba.va.gov:80/VetRecordServiceBean/VetRecordWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="findIndex">
<part name="parameters" element="tns:findIndex"/>
</message>
<message name="findIndexResponse">
<part name="parameters" element="tns:findIndexResponse"/>
</message>
<message name="ShareException">
<part name="fault" element="tns:ShareException"/>
</message>
<message name="findVeteranByFileNumber">
<part name="parameters" element="tns:findVeteranByFileNumber"/>
</message>
<message name="findVeteranByFileNumberResponse">
<part name="parameters" element="tns:findVeteranByFileNumberResponse"/>
</message>
<message name="findBirlsRecord">
<part name="parameters" element="tns:findBirlsRecord"/>
</message>
<message name="findBirlsRecordResponse">
<part name="parameters" element="tns:findBirlsRecordResponse"/>
</message>
<message name="updateBirlsRecord">
<part name="parameters" element="tns:updateBirlsRecord"/>
</message>
<message name="updateBirlsRecordResponse">
<part name="parameters" element="tns:updateBirlsRecordResponse"/>
</message>
<message name="insertBirlsRecord">
<part name="parameters" element="tns:insertBirlsRecord"/>
</message>
<message name="insertBirlsRecordResponse">
<part name="parameters" element="tns:insertBirlsRecordResponse"/>
</message>
<message name="findVeteran">
<part name="parameters" element="tns:findVeteran"/>
</message>
<message name="findVeteranResponse">
<part name="parameters" element="tns:findVeteranResponse"/>
</message>
<message name="syncCorporateBirls">
<part name="parameters" element="tns:syncCorporateBirls"/>
</message>
<message name="syncCorporateBirlsResponse">
<part name="parameters" element="tns:syncCorporateBirlsResponse"/>
</message>
<message name="findVeteranByPtcpntId">
<part name="parameters" element="tns:findVeteranByPtcpntId"/>
</message>
<message name="findVeteranByPtcpntIdResponse">
<part name="parameters" element="tns:findVeteranByPtcpntIdResponse"/>
</message>
<message name="findBirlsRecordByFileNumber">
<part name="parameters" element="tns:findBirlsRecordByFileNumber"/>
</message>
<message name="findBirlsRecordByFileNumberResponse">
<part name="parameters" element="tns:findBirlsRecordByFileNumberResponse"/>
</message>
<message name="findCorporateRecordByPtcpntId">
<part name="parameters" element="tns:findCorporateRecordByPtcpntId"/>
</message>
<message name="findCorporateRecordByPtcpntIdResponse">
<part name="parameters" element="tns:findCorporateRecordByPtcpntIdResponse"/>
</message>
<message name="findCorporateRecordByFileNumber">
<part name="parameters" element="tns:findCorporateRecordByFileNumber"/>
</message>
<message name="findCorporateRecordByFileNumberResponse">
<part name="parameters" element="tns:findCorporateRecordByFileNumberResponse"/>
</message>
<message name="findCorporateRecord">
<part name="parameters" element="tns:findCorporateRecord"/>
</message>
<message name="findCorporateRecordResponse">
<part name="parameters" element="tns:findCorporateRecordResponse"/>
</message>
<portType name="VetRecordService">
<operation name="findIndex">
<input message="tns:findIndex"/>
<output message="tns:findIndexResponse"/>
<fault message="tns:ShareException" name="ShareException"/>
</operation>
<operation name="findVeteranByFileNumber">
<input message="tns:findVeteranByFileNumber"/>
<output message="tns:findVeteranByFileNumberResponse"/>
<fault message="tns:ShareException" name="ShareException"/>
</operation>
<operation name="findBirlsRecord">
<input message="tns:findBirlsRecord"/>
<output message="tns:findBirlsRecordResponse"/>
<fault message="tns:ShareException" name="ShareException"/>
</operation>
<operation name="updateBirlsRecord">
<input message="tns:updateBirlsRecord"/>
<output message="tns:updateBirlsRecordResponse"/>
<fault message="tns:ShareException" name="ShareException"/>
</operation>
<operation name="insertBirlsRecord">
<input message="tns:insertBirlsRecord"/>
<output message="tns:insertBirlsRecordResponse"/>
<fault message="tns:ShareException" name="ShareException"/>
</operation>
<operation name="findVeteran">
<input message="tns:findVeteran"/>
<output message="tns:findVeteranResponse"/>
<fault message="tns:ShareException" name="ShareException"/>
</operation>
<operation name="syncCorporateBirls">
<input message="tns:syncCorporateBirls"/>
<output message="tns:syncCorporateBirlsResponse"/>
<fault message="tns:ShareException" name="ShareException"/>
</operation>
<operation name="findVeteranByPtcpntId">
<input message="tns:findVeteranByPtcpntId"/>
<output message="tns:findVeteranByPtcpntIdResponse"/>
<fault message="tns:ShareException" name="ShareException"/>
</operation>
<operation name="findBirlsRecordByFileNumber">
<input message="tns:findBirlsRecordByFileNumber"/>
<output message="tns:findBirlsRecordByFileNumberResponse"/>
<fault message="tns:ShareException" name="ShareException"/>
</operation>
<operation name="findCorporateRecordByPtcpntId">
<input message="tns:findCorporateRecordByPtcpntId"/>
<output message="tns:findCorporateRecordByPtcpntIdResponse"/>
<fault message="tns:ShareException" name="ShareException"/>
</operation>
<operation name="findCorporateRecordByFileNumber">
<input message="tns:findCorporateRecordByFileNumber"/>
<output message="tns:findCorporateRecordByFileNumberResponse"/>
<fault message="tns:ShareException" name="ShareException"/>
</operation>
<operation name="findCorporateRecord">
<input message="tns:findCorporateRecord"/>
<output message="tns:findCorporateRecordResponse"/>
<fault message="tns:ShareException" name="ShareException"/>
</operation>
</portType>
<binding name="VetRecordWebServicePortBinding" type="tns:VetRecordService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findIndex">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ShareException">
<soap:fault name="ShareException" use="literal"/>
</fault>
</operation>
<operation name="findVeteranByFileNumber">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ShareException">
<soap:fault name="ShareException" use="literal"/>
</fault>
</operation>
<operation name="findBirlsRecord">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ShareException">
<soap:fault name="ShareException" use="literal"/>
</fault>
</operation>
<operation name="updateBirlsRecord">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ShareException">
<soap:fault name="ShareException" use="literal"/>
</fault>
</operation>
<operation name="insertBirlsRecord">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ShareException">
<soap:fault name="ShareException" use="literal"/>
</fault>
</operation>
<operation name="findVeteran">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ShareException">
<soap:fault name="ShareException" use="literal"/>
</fault>
</operation>
<operation name="syncCorporateBirls">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ShareException">
<soap:fault name="ShareException" use="literal"/>
</fault>
</operation>
<operation name="findVeteranByPtcpntId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ShareException">
<soap:fault name="ShareException" use="literal"/>
</fault>
</operation>
<operation name="findBirlsRecordByFileNumber">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ShareException">
<soap:fault name="ShareException" use="literal"/>
</fault>
</operation>
<operation name="findCorporateRecordByPtcpntId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ShareException">
<soap:fault name="ShareException" use="literal"/>
</fault>
</operation>
<operation name="findCorporateRecordByFileNumber">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ShareException">
<soap:fault name="ShareException" use="literal"/>
</fault>
</operation>
<operation name="findCorporateRecord">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ShareException">
<soap:fault name="ShareException" use="literal"/>
</fault>
</operation>
</binding>
<service name="VetRecordWebService">
<port name="VetRecordWebServicePort" binding="tns:VetRecordWebServicePortBinding">
<soap:address location="http://bepwebtest.vba.va.gov:80/VetRecordServiceBean/VetRecordWebService"/>
</port>
</service>
</definitions>